* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-image: url('background.jpg');
    width: 100vw;
    /* height: 100vh; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: #00bcb0;
    text-transform: uppercase;
}
.container {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#your-password {
    border: 2px solid #00bcb0;
    width: 700px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    box-shadow: 10px 10px 10px #00bcb0;
}

#title, #your-password {
    margin: 10px 0;
}

span {
    display: none;
    color: white;
    letter-spacing: 5px;
    animation-name: prova;
    animation-duration: 5s;
}
#password {
    /* animation-name: prova;
    animation-duration: 5s; */
    /* display: none; */

}

@keyframes prova {
    0% { transform: scale(0);}
    50% { transform: scale(2);}
    100% {transform: scale(1);}
}

.visible {
    display: inline-block;
}
